---
import Search from "./icons/Search.astro";
import Sun from "./icons/Sun.astro";
import Moon from "./icons/Moon.astro";
import Printer from "./icons/Printer.astro";
---
<header class="topbar">
  <div class="topbar-inner">
    <div class="brand">
      <span class="brand-mark" aria-hidden="true">{'{ }'}</span>
      PromQL <small>cheatsheet</small>
    </div>
    <div class="topbar-spacer" aria-hidden="true"></div>
    <search class="search">
      <Search />
      <input id="search" type="search" placeholder="Search rate, sum, label_replace…" autocomplete="off" aria-label="Search" />
      <kbd aria-hidden="true">/</kbd>
    </search>
    <button class="iconbtn" id="theme-toggle" type="button" aria-label="Toggle theme" aria-pressed="false">
      <Sun id="icon-sun" />
      <Moon id="icon-moon" class="hidden" />
    </button>
    <a class="printbtn" href="/one-pager">
      <Printer />
      One-pager
    </a>
  </div>
</header>

<style is:global>
  #icon-moon.hidden { display: none; }
  #icon-sun.hidden { display: none; }
</style>
